.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #7F53AC 0%, rgba(108, 112, 218, 0.797741) 69.74%, rgba(100, 125, 238, 0.71) 100%);
}

.container h3 {
  color: white;
}

.divider {
  background: gray;
  width: 100%;
  height: 1px;
}

.inputContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.formContainer form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.formContainer form input {
  width: 50%;
  height: 66px;
  border-radius: 10px;
  border: 0;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.formContainer form button {
  width: 25%;
  height: 40px;
  border-radius: 10px;
  border: 0;
  font-size: 16px;
}