.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 250px;
}

.container h2 {
  color: white;
}

.gridItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 10px;
  border: 4px #7F53ACCC solid;
  background-color: #00000080;
  color: white;
  font-size: 14px;
  margin-right: 1em;
  position: relative;
  overflow: hidden;
}

.gridItem button {
  width: 75%;
  height: 30px;
  border-radius: 10px;
  border: 0;
  margin: 1em;
  background-color: #00000080;
}

.gridItemContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #000000;
  text-align: center;
  bottom: 0;
  padding: 5px;
}

.gridItem p {
  margin: 0;
}

.gridItem p:first-child {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
}

.gridItem p:last-child {
  font-size: 12px;
}

.gridNoItems {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 25%;
  background-color: #00000080;
  color: white;
  border-radius: 10px;
  padding: 1em;
  margin: 0 auto;
}